@font-face {
  font-family: 'Oleo Script', cursive;
  src: url('font/Oleo_Script/OleoScript-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Oleo Script', cursive;
  src: url('font/Oleo_Script/OleoScript-Bold.ttf') format('truetype');
}
html, body {
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
}
h1.category {
  margin: 100px;
  color: #FDFDFD;
  font-family: 'Oleo Script';
}
#checkbox-template {
  width: 960px;
  height: 560px;
  color: #FDFDFD;
  text-align: center;
}
#checkbox {
  display: block;
  font-family: Arial;
}
p {
  color: #FDFDFD;
}
#map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}
.logo {
  opacity: 1;
  margin-top: 50px;
}
video#bgvideo {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background-color: #090F0F;
}
img {
  opacity: 0.6;
}
.adventure {
  font-family: 'Oleo Script', Helvetica;
  color: #FDFDFD;
  opacity: 1, !important;
}
a:link {
  color: #FDFDFD;
  text-decoration: none;
}
a:visited {
  color: #FDFDFD;
}
.login, .signup {
    /* Center the button on the background */
    display: inline-block;
    background-color: transparent;
    /* /Center the button on the background */

    /* Make it nice a readable */
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    text-shadow: 0 0 .25em black;

    /* Lots of padding, rectangle, rounded corners */
    padding-top: 1.50%;
    padding-bottom: 1.50%;
    width: 50%;
    border: 2.5px #FDFDFD solid;
}
button:hover {
    background-color: #F07818;
    cursor:pointer;
}
button:hover {
    background-color: #F07818;
    cursor:pointer;
}
#container {
  min-height: 100%;
  position: relative;
}
#footer {
  position: static;
  margin-top: 10em;
  width: 100%;
}
