<h1 class="category">Choose the adventures you want to embark on</h1>
<div id="checkbox-template">
  <form id="checkbox-form" action="/categories" method="POST">
    <input type="submit" value="Submit">
  </form>
  <button id="select-all">Select All</button>
  <button id="deselect-all">Deselect All</button>
</div>

<div class="container auth">
    <h1 class="text-center">"Accidental adventures nearer and nearer with every footstep" <span>Buut.. before you go off, sign up first!</span> </h1>
    <div id="big-form" class="well auth-box">
      <form>
        <fieldset>
          <div class="form-group">
            <label class=" control-label" for="checkboxes">Extra features</label>
            <div class="">
              <div class="checkbox">
                <label for="checkboxes-0">
                  <input name="checkboxes" id="checkboxes-0" value="1" type="checkbox">
                  Paper plains
                </label>
              </div>
              <div class="checkbox">
                <label for="checkboxes-1">
                  <input name="checkboxes" id="checkboxes-1" value="2" type="checkbox">
                  Iron man
                </label>
              </div>
            </div>
          </div>
  <div class="clearfix"></div>
</div>
