<form action="/login" method="POST">
  <input type="text" name="email" placeholder="Email" />
  <input type="password" name="password" placeholder="Password" />
  <input type="submit" value="Log In" />
</form>

<form action="/signup" method="POST">
  <input type="text" name="new[first_name]" placeholder="First Name" />
  <input type="text" name="new[last_name]" placeholder="Last Name" />
  <label>Birthday: <input type="date" name="new[birthday]" /></label>
  <input type="text" name="new[email]" placeholder="Email" />
  <input type="text" name="new[username]" placeholder="Username" />
  <input type="password" name="new[password]" placeholder="Password" />
  <input type="submit" value="Sign Up" />
</form>