<video autoplay loop muted class="bgvideo">
  <source src="video/Nocturnal_Wonderland_20th_Anniversary_Official_Announcement_Trailer.mp4" type="video/mp4">
</video>

<a href="/login"><button type ="button" class="index-button login">Login</button></a>
<a href="/users/new"><button type ="button" class="index-button signup">Signup</button></a>

<div id="sign-up-form" style="display:none">
  <%= erb :'users/_new' %>
</div>

<div id="log-in-form" style="display:none">
  <%= erb :'users/_login' %>
</div>

<div id="show-page" style="display:none">
  <%= erb :'users/_show' %>
</div>

