<a href="/login"><button type ="button" class="index-button login">Login</button></a>
<a href="/users/new"><button type ="button" class="index-button signup">Signup</button></a>

<div id="sign-up-form" style="display:none">
  <%= erb :'users/_new' %>
</div>

<div id="log-in-form" style="display:none">
  <%= erb :'users/_login' %>
</div>

<div id="show-page" style="display:none">
  <%= erb :'users/_show' %>
</div>

<div id="events-page" style="display:none">
  <%= erb :'users/_events' %>
</div>
